[Unit]
Description=TCC Aternos Service
After=networktarget

[Service]
User=tinker
WorkingDirectory=/home/tinker/aternos-automation/
ExecStart=/usr/bin/python /home/tinker/aternos-automation/main.py
Restart=always

[Install]
WantedBy=multi-user.target